/*@import './base.css';*/

:root{
  --sans-serif: Roboto, sans-serif;
  --ala-black:#212121;
  --ala-flamingo: #F26649;
  --ala-flamingo-tint: #f58e79;
  --ala-orange: #c44d34;
  --ala-light-orange: #e9bcb1;
  --ala-dark-orange: #883524;
  --ala-concrete: #F2F2F2;
  --ala-darkgrey: #637073;
  --ala-seafoam: #6BDAD5;
  --ala-ocean: #003A70;
/*  ocean at 25% opacity */
  --ala-ocean-quarter: #003A7029; 
}


html{
  font-family: Roboto, sans-serif;
}


body{
  margin:0;
  padding:0;
  color:#212121;
}

a, a[href], a:visited{
  color:var(--ala-orange) !important;
}
a:hover{
  color:var(--ala-dark-orange) !important;
}

a.newtab::after{
    content: "";
    background-image: url(@/assets/img/newtab.png);
    background-size: 100% 100%;
    display: inline-block;
    height: 13px;
    width: 13px;
    margin: 0 0 0 0.2rem;
    position: relative;
    top: 2px;
}

#app{
  max-width:1600px;
  margin:0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Roboto, sans-serif;
  font-weight: 600;
  line-height: 1.2;
}


h4{
  margin-bottom:0.5em;
}


.leaflet-popup-content-wrapper{
  border-radius:0px !important;
}

.leaflet-popup-content{
  margin:0.25em !important;
  font-size:12px !important;
}

.leaflet-popup-content main{
  box-shadow: none !important;
}

/* DATA STORIES */

.datastory-wrapper{
  margin:0 auto;
/*  padding:0 1rem;*/
/*  box-sizing: content-box;*/
  max-width:1100px;

}

.datastory-outer{
  padding: 0 1rem;
}

.datastory-wrapper section{
  margin-top:5rem;
}

.datastory-wrapper p, .datastory-wrapper ul{
  max-width:800px;
  line-height: 1.5em;
}

p.interactionTip{
  font-style: italic;
  padding:1rem;
/*  border-left:1px solid var(--ala-concrete);*/
  background-color: var(--ala-concrete);
  font-size: 90%;
  border-radius: 1rem;
  line-height: 1.25em;

}



p.intro{
  font-size: 1.2rem;
}

/*   colours for national status, following ALA conventions */

  .CE{
    background-color:#c33;
    color:#fcc;
  }

  .EN{
    background-color: #c63;
    color:#fc9;
  }

  .VU{
    background-color: #c90;
    color: #ffc;
  }

  .CD{
    background-color: #005454;
    color:white;
  }

  .EX{
    background-color: black;
    color:white;
  }


